<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Chorey"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/chorey_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chorey_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Chorey"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7280349628854769~4783014580"/>

<!--        <meta-data for testing purposes-->
<!--            android:name="com.google.android.gms.ads.ca-app-pub-7280349628854769~4783014580"-->
<!--        android:value="ca-app-pub-3940256099942544~3347511713"/>-->

<!--  Add this to the "activity" tag to stop app from rotating-->
        <!--            android:screenOrientation="portrait"-->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="com.chorey.util.FirestoreInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="com.chorey.util.AuthInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="com.chorey.util.AuthUIInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>